@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    padding-top: max(env(safe-area-inset-top), 32px);
    padding-bottom: max(env(safe-area-inset-bottom), 16px);
    padding-left: env(safe-area-inset-left, 0px);
    padding-right: env(safe-area-inset-right, 0px);
  }
}
@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #334155;
  }
  .dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #475569;
  }
  .editable-cell {
    @apply transition-all duration-200 hover:bg-indigo-50/40 cursor-text relative;
  }
  .editable-cell:hover::after {
    content: "Quick Edit";
    @apply absolute top-1 right-2 text-[6px] font-black uppercase text-indigo-400 opacity-50;
  }

  /* Remove spin buttons from number inputs */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}
